/* @[crate::world::level::config::LevelConfig] */

LevelConfig (
      waves: [
          (
              batches: [
                  (
                      config: [
                        (
                            enemy_config: (
                               id: GoblinWarrior,
                               move_speed: 60.0,
                               base_hp: 60.0,
                               spec: Melee(),
                               concat_damage: ContactDamage(1.0),
                            ),
                            count: 1,
                        )
                      ],
                      next_batch_delay: 60.0,
                  ),
              ],
              max_time : 60.0
          ),
          (
              batches: [
                  (
                      config: [
                         (
                             enemy_config: (
                                id: GoblinWarrior,
                                move_speed: 60.0,
                                base_hp: 60.0,
                                spec: Melee(),
                             ),
                             count: 2,
                         )
                      ],
                      next_batch_delay: 10.0,
                  ),
              ],
              max_time : 10.0
          ),
      ],
  )